.back{
    z-index: 3;
    background-color: rgb(94, 94, 94);
    background-image: url(../img/gameback.jpg);
    background-size: 2000px;
    opacity: 0.93;
}
  
.game{
    background-color: rgb(244, 244, 244);
    background-image: url("../img/desertback.png");
    animation: rotate 12s infinite linear;
    background-size: cover;
    width: 700px;
    height: 400px;
    border: 3px solid black;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.character{
    position: relative;
    left: 100px;
    top: 173px;
    width: 48px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(../img/dino_modify.gif);
    background-size: 50px;
    opacity: 0.8;
    z-index: 0;
}
.hi{
    position: absolute; 
    top:41%; left: 29%; 
    font-size: 30px;
    border:solid 2px black ;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.623);
}
.hi:hover{
    color: rgba(240, 248, 255, 0.954);
    /**color: white;**/
    font-size: 35px;
    top:38%; left: 26%; 
    background-color: rgba(0, 0, 0, 0.815);
}

.animation{
    animation: jump 0.65s infinite;
}
.block{
    
    position: relative;
    top: 97px;
    left: 670px;
    width: 25px;
    height: 43px;
    background-color: rgba(255, 255, 255, 0);
    background-image: url(../img/cactus.png);
    background-size: 25px;
    z-index: 1;
}

.block2{
    position: relative;
    width: 43px;
    height: 32px;
    top:  -8px;
    left: 660px;       /**660**/
    background-image: url(../img/bird.gif);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0);
    opacity: 0.9;
}
.move0{
    animation: blockmove 2.5s linear infinite;
}

.move1{
    animation: blockmove1 5s linear infinite 1.25s;
}

@keyframes blockmove{
    0%{left: 670px;}
    20%{left: 536px;}
    40%{left: 402px;}
    60%{left: 268px;}
    80%{left: 134px;}
    100%{left: 0px;}
} 


@keyframes blockmove1{
    /**0%{left: -10px;}
    20%{left: -132.4px;}
    40%{left: -264.8px;}
    60%{left: -397.2px;}
    80%{left: -529.6px;}
    100%{left: -672px;}**/
    0%{left: 660px; }
    20%{left: 330px; }
    40%{left: 495px; }
    60%{left: 330px; }
    80%{left: 495px; }
    100%{left: 0px; }
}

@keyframes jump{
    0%{top: 173px}
    20%{top: 103px}
    25%{top: 83px}
    41.6%{top: 63px;}
    58.3%{top: 63px;}
    75%{top: 83px;}
    80%{top: 103px;}
    100%{top: 173px;}
}

@keyframes rotate{
    0% {background-position-x: 0px;}
    100% {background-position-x: -700px;}
}


.cloud0{
    position: absolute;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    height: 50px;
    width: 100px;
    top: 30%;
    left: 20%;
    border-radius: 30px;
    border-top-color:rgba(255, 255, 255, 0);
}
.cloud1{
    position: absolute;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    height: 40px;
    width: 49px;
    top: -14px;
    left: 5.5px;
    border-radius: 100%;
    z-index: 8;
    border-bottom-color:rgba(255, 255, 255, 0);
    border-right-color:rgba(255, 255, 255, 0);
    rotate: 37deg;
}

.cloud2{
    position: absolute;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    height: 30px;
    width: 40px;
    top: -10px;
    left: 52.5px;
    border-radius: 100%;
    z-index: 9;
    border-bottom-color:rgba(255, 255, 255, 0);
    border-left-color:rgba(255, 255, 255, 0);
    rotate: -30deg;
}

span{
    content: "\2601";
    position: absolute;
    top: 30%;
    left: 30%;
    color: rgba(173, 202, 230, 0.774);
    /**border: 1px solid black;**/
    font-size: 100px;
    /**animation: changecol 15s linear infinite;**/
    animation: rot 10s linear infinite;
}

.changecolor{
    animation: changecol 1s linear infinite;
}
@keyframes changecol{
    0%{color: rgba(70, 86, 188, 0.696); rotate: 10deg;}
    25%{color: rgba(71, 173, 192, 0.781); rotate: 0deg;}
    50%{color: rgba(71, 71, 181, 0.719); rotate: -10deg;}
    75%{color: rgba(86, 79, 184, 0.667); rotate: 0deg;}
    100%{color:rgba(72, 172, 208, 0.737); rotate: 10deg;}
}
@keyframes rot{
    0%{rotate: 10deg;}
    25%{ rotate: 0deg;}
    50%{ rotate: -10deg;}
    75%{ rotate: 0deg;}
    100%{ rotate: 10deg;}
}