.frame{
    border: 1px solid black;
    width: 700px;
    height: 400px;
    /**border-radius: 10px;**/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.player1{
    background-color: blue;
    width: 30px;
    height: 50px;
    position: absolute;
    bottom: 0px;
}

.wepon1{
    background-color: red;
    width: 30px;
    height: 20px;
    position: absolute;
    bottom: 40px;
}

.attackr{
    animation-name: attackr;
    animation-iteration-count: 1;
    animation-duration: 0.1s;
}

.attackl{
    animation-name: attackl;
    animation-iteration-count: 1;
    animation-duration: 0.1s;
}

@keyframes attackr{
    0%{width: 30px;}
    50%{width: 80px;}
    100%{width: 30px;}
}

@keyframes attackl{
    0%{width: 30px; position: absolute; right: 0px; bottom: 40px;}
    50%{width: 80px; position: absolute; right: 0px; bottom: 40px;}
    100%{width: 30px; position: absolute; right: 0px; bottom: 40px;}
}